$color-black: #000;
$color-green: rgba(0, 255, 21, 0.685);
$color-lightblue: rgb(0, 225, 255);
$color-magenta: rgb(189, 0, 189);
$color-white: rgb(255, 255, 255);
$color-darkgreen: #023d39;
$color-darkgreen2: #012725;
$color-darkblue: #00124e;
$color-turquoise: #00776d;
$font-weights: ("regular": 400,"medium": 500,"bold": 700);